.Footer {
  position: fixed;
  width: 90%;
  left: 5%;
  font-size: 18px;
  bottom: 3vh;
  height: 30px;
  z-index: 100000;

  &__LinkDown {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &-Item1 {
      margin-bottom: 3vh;

      & > a {
        text-decoration: none;
        color: black;
      }
      @include breakpoint(laptop) {
        transform: rotate(-90deg);
        transform-origin: left bottom;
        margin-bottom: 5vh;
      }
    }

    &-Item2 {
      margin-bottom: 3vh;

      & > a {
        text-decoration: none;
        color: black;
      }
      @include breakpoint(laptop) {
        margin-bottom: 5vh;
      }
    }
  }
}
