.Works {
  margin-top: 100px;
  margin-left: 5%;
  position: relative;
  @include breakpoint(laptop) {
    margin-left: 20%;
  }

  &-Title {
    font-size: 24px;
    font-family: $SecondFont;
    font-weight: 400;
  }

  &__Container {
    margin-top: 50px;
    font-family: $SecondFont;
    display:flex;

    &-Link {
      margin-bottom: 10px;

      & > a {
        font-size: 42px;
        color: black;
        text-decoration: none;
        font-weight: 400;
        transition: all .1s ease-out;
        white-space: nowrap;
        @include breakpoint(laptop) {
          font-size: 48px;
        }
        &:hover {
          color: #fc4747;

          &:nth-child(1) {

          }
        }
      }
    }
  }
}

.img {
  width: 500px;
  height: 300px;
  margin-left: 20px;
  background-size: cover;
  position: absolute;

  &Container {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events: none;
  }
}
