@import "./global/reset";
@import "./mixins/breakpoints";
@import "./components/header";
@import "./components/about";
@import "./components/footer";
@import "./components/works";
@import "./components/intro";
@import "./components/projet";
@import "./components/contact";
@import "./components/article";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: black;
}

body {
  animation-duration: 1.5s;
  animation-name: slidein;
  background-color: #efefef;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
